<div class="modal-container pt-0 px-2">  
  <div class="modal-body">    
    <form #formModel="ngForm">      
      <div class="col">        
        <div class="row mb-4">
          <label for="name" class="mb-1 required">Nome</label>
          <input
            #nameInput
            id="name"
            name="name"
            type="text"
            required
            [(ngModel)]="form.name"
            (blur)="validateForm()"
            class="form-control"
            [ngClass]="{'is-invalid': submitted && f['name'].errors}">
          <div *ngIf="submitted && f['name'].errors && f['name'].errors['required']" class="invalid-feedback">
            * Você deve ter um nome
          </div>
        </div>
        
        <div class="row mb-4">
          <label for="email" class="mb-1">E-mail</label>
          <input 
            id="email"
            name="email"
            type="email"
            disabled
            [(ngModel)]="form.email"
            class="form-control">
        </div>
      </div>
    </form>
    <div class="d-flex flex-column gap-0 mb-0 italic">
      <small>Ativo desde</small>
      <small class="mb-2">{{ user.createdAt | date:'dd/MM/YYYY':'pt' }}</small>
      <small>Última atualização</small>
      <small>{{ user.updatedAt | date:'dd/MM/YYYY, HH:mm':'pt' }}</small>
    </div>
  </div>
</div>