@import 'src/styles/variables';

button {
  &.delete-account {
    margin-top: 10px;
    color: $red;
    border-color: $red;

    &:hover {
      background-color: $red;
      color: $palette-tertiary;
    }
  }
}

small {
  color: $palette-secondary;
}

@media only screen and (max-width: $tablet) {
  .modal-container {
    background-color: $palette-primary;

    label,
    small,
    form button {
      color: $palette-tertiary;
      border-color: $palette-tertiary;
    }
  }
}