<div>  
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="mb-2">Histórico dos anos</h2>
    <img 
      src="../../../../../assets/icons/plus.svg"
      (click)="addYear()"
      alt="Adicionar ano"
      width="30px"
      class="pointer">
  </div>
  
  <div class="mt-3">
    <table class="table table-hover">
      <thead>
        <th>Ano</th>
        <th>Entradas</th>
        <th>Gastos fixos</th>
        <th>Disponível</th>
        <th>Gastos variáveis</th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let history of yearsHistories" class="table-active">
          <td>{{ history.year.year }}</td>
          <td>{{ history.monthlyIncomes | number : '.2-2' : 'pt' }}</td>
          <td>{{ history.monthlyExpenses | number : '.2-2' : 'pt' }}</td>
          <td>{{ history.available | number : '.2-2' : 'pt' }}</td>
          <td [ngClass]="history.expenses > history.available ? 'text-danger' : 'text-success'">{{ history.expenses | number : '.2-2' : 'pt' }}</td>
          <td>
            <div class="d-flex gap-10">
              <img 
                src="../../../../../assets/icons/pencil.svg"
                (click)="editYear(history.year)"
                alt="Editar"
                width="25px"
                class="pointer">
              <img 
                src="../../../../../assets/icons/trash.svg"
                (click)="deleteYear(history.year)"
                alt="Excluir"
                width="25px"
                class="pointer">
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
