<div class="modal-container">
  <div *ngIf="title" class="modal-header">
    <div class="d-flex align-items-center gap-20">
      <h3>{{ title }}</h3>
      <img *ngIf="showWarningIcon" src="assets/icons/warning.svg" width="30px">
    </div>
    <span (click)="activeModal.close(false)">&times;</span>
  </div>
  
  <div class="modal-body">
    <span [innerHtml]="text"></span>
  </div>
  
  <div class="modal-footer">
    <button *ngIf="showCancelButton" (click)="activeModal.close(false)" class="cancel">
      {{ cancelButtonText }}
    </button>
    <button *ngIf="showConfirmButton" (click)="activeModal.close(true)">
      {{ confirmButtonText }}
    </button>
  </div>
</div>