<div>  
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="mb-2">Histórico dos meses</h2>
    <img 
      src="../../../../../assets/icons/plus.svg"
      (click)="addMonth()"
      width="30px"
      class="pointer"
      ngbTooltip="Adicionar mês">
  </div>
  
  <div class="mt-3">
    <ul 
      ngbNav 
      #nav="ngbNav" 
      [activeId]="activeYear$ | async"
      (navChange)="activeYear$.next($event.nextId)"
      class="nav-tabs"
    >
      <li 
        *ngFor="let year of years"
        [ngbNavItem]="year.id"
        [destroyOnHide]="true"
      >
        <button ngbNavLink>{{ year.year }}</button>
        <ng-template ngbNavContent>
          <table class="table table-hover">
            <thead>
              <th>Mês</th>
              <th>Entradas</th>
              <th>
                Mensalidades
                <app-tooltip 
                  icon="help" 
                  content="
                    <p>As mensalidades que você já deixa registradas como gastos previstos. São descontadas das entradas antes de calcular o total Disponível para o mês.</p>
                  ">
                </app-tooltip>
              </th>
              <th>
                Disponível
                <app-tooltip 
                  icon="help" 
                  content="
                    <p>Disponível para os seus Gastos Variáveis durante o mês. Considera a porcentagem reservada para o mês e as Mensalidades.</p>
                    <p><small>(Entradas * Porcentagem_Reservada) - Gastos_Fixos</small></p>
                  ">
                </app-tooltip>
              </th>
              <th>
                Gastos variáveis
                <app-tooltip 
                  icon="help" 
                  content="
                    <p>Todos seus gastos registrados na tabela de gastos até o momento.</p>
                  ">
                </app-tooltip>
              </th>
              <th>
                Saldo
                <app-tooltip 
                  icon="help" 
                  content="
                    <p>O balanço geral carregado através dos meses, herdando os saldos positivos e negativos dos meses anteriores. Reinicia todo ano.</p>
                    <p><small>(Disponível - Gastos_Variáveis) + Saldo_Do_Mês_Anterior</small></p>
                  ">
                </app-tooltip>
              </th>
              <th></th>
            </thead>
            <tbody *ngIf="!loading else loadingSpinner">
              <tr *ngFor="let history of monthsHistories; first as first" class="table-active">
                <td>{{ history.month.month | monthName }}</td>
                <td>{{ history.monthlyIncomes | number:'.2-2':'pt' }}</td>
                <td>{{ history.monthlyExpenses | number:'.2-2':'pt' }}</td>
                <td>
                  {{ history.available | number:'.2-2':'pt' }} ({{ history.month.available | number:'.0-2':'pt' }}%)
                </td>
                <td [ngClass]="{'text-danger': history.expenses > history.available}">
                  {{ history.expenses | number:'.2-2':'pt' }}
                </td>
                <td [ngClass]="{'text-danger': history.balance <= 0}">
                  {{ history.balance | number:'.2-2':'pt' }}
                </td>
                <td>
                  <div class="d-flex justify-content-evenly">
                    <img 
                      *ngIf="first"
                      src="../../../../assets/icons/copy.svg"
                      (click)="duplicateMonth(history.month)"
                      width="25px"
                      class="pointer"
                      ngbTooltip="Duplicar">
                    <img 
                      src="../../../../../assets/icons/pencil.svg"
                      (click)="editMonth(history.month)"
                      width="25px"
                      class="pointer"
                      ngbTooltip="Editar">
                    <img 
                      src="../../../../../assets/icons/trash.svg"
                      (click)="deleteMonth(history.month)"
                      width="25px"
                      class="pointer"
                      ngbTooltip="Excluir">
                    <img 
                      src="../../../../../assets/icons/money.svg"
                      (click)="listMonthlyIncomes(history.month)"
                      width="30px"
                      class="pointer"
                      ngbTooltip="Listar entradas">
                    <img 
                      src="../../../../../assets/icons/dollar-sign.svg"
                      (click)="listMonthlyExpenses(history.month)"
                      width="30px"
                      class="pointer"
                      ngbTooltip="Listar mensalidades">
                    <img 
                      src="../../../../../assets/icons/category.svg"
                      (click)="listCategories(history.month)"
                      width="30px"
                      class="pointer"
                      ngbTooltip="Listar categorias">
                  </div>
                </td>
              </tr>
            </tbody>
            <ng-template #loadingSpinner>
              <span class="spinner-border spinner-border-sm"></span>
            </ng-template> 
          </table>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
  </div>
</div>
