@import 'src/styles/variables';

.media-sm {
  display: none;
}

.header {
  img {
    width: 50px;
  }
}

table {
  border-collapse: separate; 
  border-spacing: 0 20px;

  tr {
    img {
      width: 25px;
    }
  }
}

button[ngbNavLink] {
  transform: translateY(20px);
}

@media only screen and (max-width: $laptop) {
  .media-md-lg {
    display: none !important;
  }

  .media-sm {
    display: block !important;
  }
}

@media only screen and (max-width: $tablet) {
  .header {
    h2 {
      font-size: 20px;
    }

    img {
      width: 30px;
      transform: translateY(-5px);
    }
  }

  button[ngbNavLink] {
    font-size: 14px;
  }

  .table-box {
    overflow-x: auto;

    table {
      tr {
        td:first-child {
          font-weight: bold;
        }
      }
    }
  }

}