<div class="modal-container">
  <div class="modal-header">
    <h3>{{ action | titlecase }} registro de gasto</h3>
    <span (click)="activeModal.close(false)">&times;</span>
  </div>
  
  <div class="modal-body">
    <div *ngIf="action == 'adicionar'">
      <app-filters 
        [year]="year" 
        [multiple]="false"
        [clearable]="false"
        (filters)="form.category = $event.categories[0]?.id || undefined"
        [showTags]="false"
      ></app-filters>
    </div>
    
    <form #formModel="ngForm">
      <div class="row mb-4">
        <div class="col">
          <input 
           [(ngModel)]="form.category"
            name="category"
            required
            hidden
            class="form-control"
            [ngClass]="{'is-invalid': submitted && f['category'].errors}">
          <div *ngIf="submitted && f['category'].errors && f['category'].errors['required']" class="invalid-feedback text-end">
            * Selecione uma categoria
          </div>
        </div>
      </div>
      
      <div class="row mb-4">
        <div class="col">
          <label for="value" class="mb-1 required">Valor</label>
          <input
            id="value"
            type="text"
            [(ngModel)]="form.value"
            name="value"
            required
            mask="separator.2"
            prefix="R$ "
            thousandSeparator="."
            class="form-control"
            [ngClass]="{'is-invalid': submitted && f['value'].errors}">
          <div *ngIf="submitted && f['value'].errors && f['value'].errors['required']" class="invalid-feedback">
            * Valor é obrigatório
          </div>
        </div>
        <div class="col">
          <label for="date" class="mb-1 required">
            Data
            <app-tooltip 
              icon="info"
              content="
                <p>Usada apenas para fim de registro. Não é levada em conta pelo sistema.</p>
              ">
            </app-tooltip>
          </label>
          <input 
            id="date"
            type="date" 
            [(ngModel)]="form.date"
            name="date"
            required
            [max]="today"
            class="form-control"
            [ngClass]="{'is-invalid': submitted && f['date'].errors}">
          <div *ngIf="submitted && f['date'].errors && f['date'].errors['required']" class="invalid-feedback">
            * Data é obrigatória
          </div>
        </div>
      </div>
        
      <div class="row mb-4">
        <label for="description" class="mb-1">Descrição</label>
        <textarea 
          id="description"
          type="text" 
          [(ngModel)]="form.description"
          name="description"
          rows="2"
          class="form-control resize-none">
        </textarea>
      </div>
        
      <div class="row">
        <label for="tags" class="mb-1">Tags</label>
        <ng-select
          id="tags"
          name="tags"
          [items]="tags$ | async"
          [(ngModel)]="form.tags"
          [multiple]="true"
          [hideSelected]="true"
          bindLabel="name"
          notFoundText="Cadastre uma tag!"
        >
          <ng-template ng-footer-tmp>
            <ng-container *ngIf="!(tags$ | async)?.length">
              <div (click)="router.navigate(['gerenciar/tags'])" class="ng-footer-tmp">
                  Cadastrar
                  <img src="../../../../../../../assets/icons/plus.svg" width="20px">
              </div>
            </ng-container>
          </ng-template>  
        </ng-select>
      </div>
    </form>
  </div>
  
  <div class="modal-footer justify-content-end">
    <button (click)="validateForm()" [disabled]="loading">
      <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
      {{ action | titlecase }}
    </button>
  </div>
</div>