<!-- <div class="main-container">
  <div class="filter">
      <label class="form-label">Categorias</label>
      <ng-select
          [items]="categories"
          bindLabel="name"
          [multiple]="true"
          [(ngModel)]="filters.category"
          [compareWith]="compareId"
          notFoundText="Nenhum registro disponível."
      ></ng-select>
  </div>
  <div class="filter">
      <label class="form-label">Grupos</label>
      <ng-select
          [items]="groups"
          bindLabel="name"
          [multiple]="true"
          [(ngModel)]="filters.group"
          [compareWith]="compareId"
          notFoundText="Nenhum registro disponível."
      ></ng-select>
  </div>
</div> -->