button {
  background-color: $palette-primary;
  color: $palette-tertiary;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 5px 10px;
  transition-duration: .3s;
  transition-timing-function: ease-out;
  text-transform: uppercase;
  font-weight: 500;

  &:hover {
      border-color: $palette-primary;
      color: $palette-primary;
  }

  &:disabled {
      border-color: grey;
      color: grey;
      font-style: italic;
  }

  &:hover,
  &:disabled {
      background-color: transparent;
  }
  
  &.cancel {
    background-color: transparent;
    border-color: $palette-primary;
    color: $palette-primary;

    img {
      filter: $filter-primary;
    }
    
    &:hover {
        background-color: $palette-primary;
        border-color: transparent;
        color: $palette-tertiary;

        img {
          filter: $filter-tertiary;
        }
    }
  }
}