ngb-carousel {
  min-height: 380px;
  
  .carousel-control-prev {
    transform: translateX(-50%);
    justify-content: start;
  }
  
  .carousel-control-next {
    transform: translateX(50%);
    justify-content: end;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: $filter-palette-4;
  }
}
