$carousel-height: 390px;

ngb-carousel {
  min-height: $carousel-height;
  
  .picsum-img-wrapper {
    height: $carousel-height !important;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    opacity: .7;
    transition-duration: .2s;
    
    &:hover {
      opacity: 1;
    }
  }
  
  .carousel-control-prev {
    transform: translateX(-50%);
    justify-content: start;
  }
  
  .carousel-control-next {
    transform: translateX(50%);
    justify-content: end;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: $filter-palette-4;
  }
}
