.custom-dropdown {
    .dropdown-menu {
        background-color: $palette-tertiary;
        opacity: 0;
        transform: translateY(74px);
        transition-duration: .3s;

        &.show {
            opacity: 1;
            transform: translateY(54px);
        }
    }
}