input {
  height: 35px;
  padding: auto 20px;
  color: grey;
  border: 1px solid grey;
  border-radius: 0;

  &.form-control {
    color: grey !important;
    border: 1px solid grey !important;
    border-radius: 0 !important;
  }
}