input {
  background-color: $palette-tertiary;
  padding: auto 20px;
  color: grey;
  border: 1px solid $palette-primary;
  border-radius: 10px;
  outline: none;

  &:not(.switch) {
    height: $field-height;
  }

  &.form-control {
    background-color: $palette-tertiary !important;
    color: grey !important;
    border: 1px solid $palette-primary !important;
    border-radius: 10px !important;
    height: $field-height !important;
  }
}