input {
  height: 35px;
  padding: auto 20px;
  color: grey;
  border: 1px solid $palette-4;
  border-radius: 10px;
  outline: none;

  &.form-control {
    color: grey !important;
    border: 1px solid $palette-4 !important;
    border-radius: 10px !important;
  }
}