// GENERAL
.pointer {
  cursor: pointer;
}

.glass {
  background: rgba(white, 0.2) !important;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba($palette-tertiary, 1) !important;
}

// FLEX-BOX
.gap-0 { 
  gap: 0;
}

.gap-5 { 
  gap: 5px !important; // Bootstrap already has a gap-5 class
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-20 {
  gap: 20px;
}

// TEXT
.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.text-end {
  text-align: end;
}

// TEXTAREA
.resize-none {
  resize: none;
}