// VARIABLES
.text-primary {
  color: $palette-primary !important;
}
.text-secondary {
  color: $palette-secondary !important;
}
.text-tertiary {
  color: $palette-tertiary !important;
}
.text-highlight {
  color: $palette-highlight !important;
}
.text-green {
  color: $green !important;
}
.text-red {
  color: $red !important;
}

.bg-primary {
  background-color: $palette-primary !important;
}
.bg-secondary {
  background-color: $palette-secondary !important;
}
.bg-tertiary {
  background-color: $palette-tertiary !important;
}
.bg-highlight {
  background-color: $palette-highlight !important;
}
.bg-green {
  background-color: $green !important;
}
.bg-red {
  background-color: $red !important;
}

.filter-primary {
  filter: $filter-primary !important;
}
.filter-secondary {
  filter: $filter-secondary !important;
}
.filter-tertiary {
  filter: $filter-tertiary !important;
}
.filter-highlight {
  filter: $filter-highlight !important;
}
.filter-green {
  filter: $filter-green !important;
}
.filter-red {
  filter: $filter-red !important;
}


// GENERAL
.pointer {
  cursor: pointer;
}

.glass {
  background: rgba(white, 0.2) !important;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba($palette-tertiary, 1) !important;
}

img.action {
  cursor: pointer;
  filter: $filter-highlight;
  transition: .3s;

  &:hover {
    filter: $filter-tertiary;
  }
}


// FLEX-BOX
.gap-0 { 
  gap: 0;
}

.gap-5 { 
  gap: 5px !important; // Bootstrap already has a gap-5 class
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-20 {
  gap: 20px;
}


// TEXT
.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.text-end {
  text-align: end;
}