@import 'src/styles/variables';

.modal-container {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: $palette-primary;
    
    h3 {
      margin: 0;
      padding: 0;
    }

    img {
      filter: $filter-primary;
    }
    
    span {
      font-size: 25px;
      cursor: pointer;
      transform: translateY(-2px);
    }
  }
  
  .modal-body {
    margin: 10px 0 20px;
    padding: 0 10px;
    color: $palette-secondary;
  }
  
  .modal-footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    
    button {
      min-width: 150px;
      min-height: 60px;
      font-size: 24px;
    }
  }
}

@media only screen and (max-width: $tablet) {
  .modal-container {
    padding: 15px 5px;

    .modal-header {
      h3,
      h2 {
        font-size: 16px;
      }
    }

    .modal-body {
      font-size: 14px;
    }

    .modal-footer {      
      button {
        min-width: 100px;
        min-height: 0;
        font-size: 14px;
      }
    }
  }
}