ul {
    &.nav {
        .nav-link {
            width: 100px;
            background-color: transparent;
            border: 1px solid $palette-primary;
            border-radius: 15px 15px 0 0;
            color: $palette-tertiary;
            transition-duration: .3s;

            &.active {
                background-color: rgba($palette-tertiary, 0.6);
            }

            &:hover,
            &.active {
                color: $palette-highlight;
                border-width: 2px;
            }
        }
    }
}