select {
    color: $palette-secondary !important;
    border: 1px solid $palette-primary !important;
    border-radius: 10px !important;
    background-color: $palette-tertiary !important;
    height: $field-height !important;
  
    &:focus {
      box-shadow: 0 0 8px $palette-highlight !important;
    }
}

ng-select {
  .ng-select-container {
    height: $field-height !important;
    min-width: 100px;
    padding: 5px;
    background: $palette-tertiary;
    border: 1px solid $palette-primary;
    border-radius: 10px;
    
    .ng-value-container {
      color: $palette-secondary;
      padding-left: 8px;
      gap: 8px;
      height: 30px;

      .ng-value {
        display: flex;
        align-items: center;
        gap: 2px;
      }

      .ng-placeholder {
        color: $palette-secondary;
      }
    }
  }

  .ng-option {
    padding: 3px 5px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    background: $palette-tertiary;
    color: grey;

    &.ng-option-marked {
      color: $palette-tertiary;
      background: $palette-primary;
    }
  }

  .ng-clear-wrapper {
    transform: translateY(7px);
    color: $palette-primary;
  }

  .ng-footer-tmp {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    padding: 3px 5px;
    background-color: $palette-tertiary;
    border: 1px solid $palette-primary;
    color: $palette-primary;
    border-color: $palette-primary;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;

    img {
      filter: $filter-primary;
    }
  }
}