table {
  &.table-hover {
    td {
      transition-duration: .2s;
    }
  }

  th {
    padding: 10px;
    background-color: rgba($palette-tertiary, 0.5);
    position: relative;

    &[sortable]::after {
      content: url('../assets/icons/sort.svg');
    }

    &[order="ASC"]::after {
      content: url('../assets/icons/collapse.svg');
    }

    &[order="DESC"]::after {
      content: url('../assets/icons/uncollapse.svg');
    }

    &[sortable]::after,
    &[order="ASC"]::after, 
    &[order="DESC"]::after {
      display: inline-block;
      position: absolute;
      transform: scale(0.5);
      height: 0;
      width: 0;
    }
  }

  tr {
    color: $palette-tertiary !important;
    background-color: $palette-secondary;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);

    &:hover {
      td {
        color: $palette-highlight !important;
      }
    }
  }

  td {
    &.actions {
      img {
        cursor: pointer;
        filter: $filter-highlight;
        transition: .3s;
    
        &:hover {
          filter: $filter-tertiary;
        }
      }
    }
  }

  .color-label {
    width: 80px;
    height: 25px;
    padding: 4px;
    
    > div {
      width: 100%;
      height: 100%;
    }
  }
}

.boxed-table {
  overflow-y: auto;
  box-shadow: 3px 3px 4px 5px rgba(black, 0.25);
}