// COLORS
$palette-primary: #222831;
$palette-secondary: #393E46;
$palette-tertiary: #EEEEEE;
$palette-highlight: #FFD369;
$green: #A2FF86;
$red: #D71313;

$filter-primary: invert(14%) sepia(7%) saturate(1478%) hue-rotate(177deg) brightness(100%) contrast(98%);
$filter-secondary: invert(19%) sepia(6%) saturate(1465%) hue-rotate(178deg) brightness(94%) contrast(81%);
$filter-tertiary: invert(100%) sepia(22%) saturate(27%) hue-rotate(259deg) brightness(113%) contrast(87%);
$filter-highlight: invert(70%) sepia(96%) saturate(271%) hue-rotate(346deg) brightness(104%) contrast(101%);
$filter-green: invert(92%) sepia(13%) saturate(1494%) hue-rotate(47deg) brightness(100%) contrast(103%);
$filter-red: invert(16%) sepia(90%) saturate(3464%) hue-rotate(351deg) brightness(91%) contrast(104%);


// SIZES
$field-height: 45px;


// MEDIA QUERY
$laptop: 1024px;
$tablet: 768px;