$palette-1: #CBEDD5;
$palette-2: #97DECE;
$palette-3: #62B6B7;
$palette-4: #439A97;

$filter-palette-4: invert(51%) sepia(53%) saturate(397%) hue-rotate(129deg) brightness(93%) contrast(87%);
$filter-green: invert(14%) sepia(93%) saturate(7485%) hue-rotate(0deg) brightness(100%) contrast(110%);
$filter-red: invert(25%) sepia(76%) saturate(6344%) hue-rotate(115deg) brightness(94%) contrast(104%); 