<div class="modal-container">
  <div class="modal-header">
    <h3>{{ action | titlecase }} mês</h3>
    <span (click)="activeModal.close(false)">&times;</span>
  </div>
  
  <div class="modal-body">    
    <form #formModel="ngForm">      
      <div class="col">
        <div class="row mb-4" *ngIf="action == 'adicionar'">
          <label for="year" class="form-label required">Ano</label>
          <ng-select
            id="year"
            name="year"
            required
            [items]="years$ | async"
            [(ngModel)]="form.year"
            [clearable]="false"
            bindLabel="year"
            bindValue="id"
            notFoundText="Nenhum registro disponível."
          ></ng-select>
        </div>
        
        <div class="row mb-4">
          <label for="month" class="mb-1 required">Mês</label>
          <select
            id="month"
            [(ngModel)]="form.month"
            name="month"
            required
            class="form-control">
            <option [ngValue]="1">Janeiro</option>
            <option [ngValue]="2">Fevereiro</option>
            <option [ngValue]="3">Março</option>
            <option [ngValue]="4">Abril</option>
            <option [ngValue]="5">Maio</option>
            <option [ngValue]="6">Junho</option>
            <option [ngValue]="7">Julho</option>
            <option [ngValue]="8">Agosto</option>
            <option [ngValue]="9">Setembro</option>
            <option [ngValue]="10">Outubro</option>
            <option [ngValue]="11">Novembro</option>
            <option [ngValue]="12">Dezembro</option>
          </select>
        </div>
        
        <div class="row mb-4">
          <label for="available" class="mb-1 required">Porcentagem reservada</label>
          <input 
            id="available"
            name="available"
            type="number"
            required
            [(ngModel)]="form.available"
            class="form-control"
            [ngClass]="{'is-invalid': submitted && f['available'].errors}">
          <div *ngIf="submitted && f['available'].errors && f['available'].errors['required']" class="invalid-feedback">
            * Defina uma porcentagem
          </div>
        </div>
        
        <div class="row mb-4">
          <label for="obs" class="mb-1">Observação</label>
          <textarea
            id="obs"
            name="obs"
            type="text"
            rows="2"
            [(ngModel)]="form.obs"
            class="form-control resize-none">
          </textarea>
        </div>
      </div>
    </form>
  </div>
  
  <div class="modal-footer justify-content-end">
    <button (click)="validateForm()">
      {{ action | titlecase }}
    </button>
  </div>
</div>