@import '../../../../../styles/variables.scss';

.search-box {
  outline: none;
  width: 500px;
  height: 40px;
  border-radius: 0;
  border-color: black;
  transition-duration: .4s;

  &:focus,
  &:not(:placeholder-shown) {
    border-radius: 0 15px 15px 0;
    border-color: $palette-4;
  }
}

.boxed-table {
  max-height: 60vh;
}

tfoot td {
  height: 100%;
}