@import '../../../../../styles/variables.scss';

.search-box {
  outline: none;
  width: 450px;
  height: 40px;
  transition-duration: .4s;

  &:not(:placeholder-shown) {
    border-color: $palette-4;
    border-radius: 15px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba($palette-4, 0.7);
  }
}

.boxed-table {
  min-height: 60vh;
  max-height: 60vh;

  table {
    height: 100%;

    tfoot td {
      height: 100%;
    }
  }
}
