<div>  
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex gap-15 mb-2 align-items-baseline">
      <h2>Histórico de gastos</h2>
      <img 
        src="../../../../../assets/icons/info.svg"
        (click)="openTutotialModal()"
        width="30px"
        class="pointer filter-tertiary">
      <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
    </div>
    <div class="d-flex gap-20">
      <div>
        <span *ngIf="loadingCSV" class="spinner-border spinner-border-sm"></span>
        <img 
          src="../../../../../assets/icons/download.svg"
          (click)="downloadCSV$.next()"
          width="50px"
          class="action"
          ngbTooltip="Exportar gastos como CSV. Isto lhe permitirá ter um backup de todos seus registros em um formato que pode ser lido por programas como o Excel.">
      </div>
      <img 
        src="../../../../../assets/icons/plus.svg"
        (click)="addExpense()"
        width="50px"
        class="action"
        ngbTooltip="Adicionar registro">
    </div>
  </div>

  <div class="search-box mb-3">
    <input 
      #searchInput
      (keyup)="search.next(searchInput.value.trim())"
      placeholder="Pesquisar pela descrição (mínimo 3 caracteres)"
      class="search-box w-100 h-100 p-3">
    <img src="../../../../../assets/icons/search.svg" width="30px">
  </div>

  <app-filters [year]="activeYear" (filters)="filters.next($event)"></app-filters>
  
  <div class="mt-3">
    <ul 
      ngbNav 
      #nav="ngbNav" 
      [activeId]="activeYear"
      (navChange)="activeYear = $event.nextId"
    >
      <li 
        *ngFor="let year of years"
        [ngbNavItem]="year.id"
        [destroyOnHide]="true"
      >
        <button ngbNavLink>{{ year.year }}</button>
        <ng-template ngbNavContent>
          <div appScrollDetection (scrolled)="scrolled.next()" class="boxed-table">
            <table appSortableTable [init]="initSortDirective" (sort)="sortTable($event)" class="table table-hover">
              <thead>
                <th sortable="date">Data</th>
                <th sortable="value">R$</th>
                <th>Descrição</th>
                <th>Categoria</th>
                <th></th>
              </thead>
              <tbody *ngIf="!expenses.length">
                <tr>
                  <td colspan="5">Nenhum registro.</td>
                </tr>
              </tbody>
              <tbody>
                <tr *ngFor="let expense of expenses">
                  <td><small>{{ expense.date | date:'fullDate':'':'pt' }}</small></td>
                  <td>{{ expense.value | number:'.2-2':'pt' }}</td>
                  <td><small>{{ expense.description }}</small></td>
                  <td>{{ expense.category.name }}</td>
                  <td class="actions">
                    <div class="d-flex justify-content-evenly">
                      <img 
                        src="../../../../../assets/icons/pencil.svg"
                        (click)="editExpense(expense)"
                        width="25px"
                        ngbTooltip="Editar">
                      <img 
                        src="../../../../../assets/icons/trash.svg"
                        (click)="deleteExpense(expense)"
                        width="25px"
                        ngbTooltip="Excluir">
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
  </div>
</div>
