@import 'src/styles/variables.scss';

.tutorial {
  cursor: pointer;
  filter: $filter-tertiary;
  width: 30px;
}

.icons {
  display: flex;
  gap: 20px;

  img {
    width: 50px;
  }
}

.search-box {
  width: 480px;
  height: 40px;
  position: relative;

  input {
    outline: none;
  }

  img {
    position: absolute;
    z-index: 10;
    right: 10px;
    top: 5px;
    filter: $filter-primary;
    transition-duration: .3s;
    width: 30px;
  }
}

app-filters {
  label {
    color: $palette-tertiary;
  }
}

.boxed-table {
  min-height: 60vh;
  max-height: 60vh;

  table {
    height: 100%;
  }
}

@media only screen and (max-width: $tablet) {
  h2 {
    font-size: 20px;
    width: 110px;
  }

  .tutorial {
    width: 25px;
  }

  .icons {
    gap: 5px;

    img {
      width: 30px;
    }
  }

  .search-box {
    width: 90%;
  }
}