<div class="container">
    <div>
        <!-- <h2>
            Analytics (
                <span (click)="toggleSelect('year')">
                    {{ analyticsYear.year }}
                </span>, 
                <span (click)="toggleSelect('month')">
                    {{ analyticsMonth.month }}
                </span>
            )
        </h2>
        <ng-select
            [items]="years" 
            bindLabel="year" 
            bindValue="id" 
            [(ngModel)]="analyticsYear"
            [style.display.hidden]="analyticsSelect == 'year'"
        ></ng-select>
        <ng-select
            [items]="months" 
            bindLabel="month" 
            bindValue="id" 
            [(ngModel)]="analyticsMonth"
            [style.display.hidden]="analyticsSelect == 'month'"
        ></ng-select> -->
        <div>
            <h3>Gastos do mês</h3>
        </div>
    </div>
</div>
