@import '../../../variables.scss';

// ANALYTICS
.analytics {
  gap: 20px;

  span {
    color: auto;
    font-style: italic;
    transition-duration: .3s;
    
    &:hover {
      color: $palette-4;
    }
  }
}

.header {
  gap: 20px;
}

.cards {
  gap: 20px;

  > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    text-align: center;
  }

  .analytics-data {
    display: flex;
    align-items: center;
    justify-content: center;

    .arrow-up {
      filter: invert(25%) sepia(76%) saturate(6344%) hue-rotate(115deg) brightness(94%) contrast(104%); 
    }

    .arrow-down {
      filter: invert(14%) sepia(93%) saturate(7485%) hue-rotate(0deg) brightness(100%) contrast(110%);
    }
  }
}