<div class="modal-container">
  <div class="modal-header">
    <div class="d-flex justify-content-between align-items-center gap-20">
      <div class="d-flex gap-15">
        <h2 class="m-0">Entradas de {{ month.month | monthName }}</h2>
        <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
      </div>
      <img 
        src="../../../../../assets/icons/plus.svg"
        (click)="addIncome()"
        class="action"
        ngbTooltip="Adicionar entrada mensal">
    </div>
    <span (click)="activeModal.close(false)">&times;</span>
  </div>
  
  <div class="modal-body">
    <div class="table-box">
      <table class="table table-hover">
        <thead>
          <th>Valor</th>
          <th>Data</th>
          <th>Descrição</th>
          <th></th>
        </thead>
        <tbody *ngIf="!incomes.length">
          <tr>
            <td colspan="4">Nenhum registro.</td>
          </tr>
        </tbody>
        <tbody>
          <tr *ngFor="let income of incomes" class="table-active">
            <td>{{ income.value | number:'.2-2':'pt' }}</td>
            <td>{{ income.date | date:'dd/MM/YY' }}</td>
            <td>{{ income.description }}</td>
            <td class="actions">
              <div class="d-flex justify-content-evenly">
                <img 
                  src="../../../../../assets/icons/pencil.svg"
                  (click)="editIncome(income)"
                  ngbTooltip="Editar">
                <img 
                  src="../../../../../assets/icons/trash.svg"
                  (click)="deleteIncome(income)"
                  ngbTooltip="Excluir">
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
