<div class="modal-container">
  <div class="modal-header">
    <div class="d-flex align-items-center gap-15">
      <h2 class="mb-2">Entradas de {{ month.month }}</h2>
      <img 
        src="../../../../../assets/icons/plus.svg"
        (click)="addIncome()"
        width="30px"
        class="pointer"
        ngbTooltip="Adicionar entrada mensal">
    </div>
    <span (click)="activeModal.close(false)">&times;</span>
  </div>
  
  <div class="modal-body">
    <table class="table table-hover">
      <thead>
        <th>Valor</th>
        <th>Descrição</th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let income of incomes" class="table-active">
          <td>{{ income.value | number : '.2-2' : 'pt' }}</td>
          <td>{{ income.description }}</td>
          <td>
            <div class="d-flex justify-content-evenly">
              <img 
                src="../../../../../assets/icons/pencil.svg"
                (click)="editIncome(income)"
                width="25px"
                class="pointer"
                ngbTooltip="Editar">
              <img 
                src="../../../../../assets/icons/trash.svg"
                (click)="deleteIncome(income)"
                width="25px"
                class="pointer"
                ngbTooltip="Excluir">
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
