@import 'src/styles/variables';

.modal-header {
    img {
        width: 30px;
        transform: translateY(-5px);
    }
}

.modal-body {
    table {
        tr {
            img {
                width: 25px;
            }
        }
    }
}

@media only screen and (max-width: $tablet) {
    .table-box {
        overflow-x: auto;
    }
}