@import 'src/styles/variables';

input {
    max-width: 200px;
}

button {
    color: $red;
    border-color: $red;

    &:hover {
      background-color: $red;
      color: $palette-tertiary;
    }
}