@import '../../../../../styles/variables.scss';

$footer-height: 80px;

footer {
    position: absolute;
    background-color: $white;
    color: $palette-4;
    bottom: 0;
    height: $footer-height;
    font-size: 14px;

    &::after {
        content: '';
        position: absolute;
        bottom: 100%;
        border-top: 2px solid $palette-4;
        width: 80%;
    }

    span {
        cursor: zoom-in;
    }

    a {
        &:hover {
            animation: twitch 0.6s ease-in-out;
        }
    }
}

@keyframes twitch {
    25% {
        transform: rotate(12deg);
    }
    75% {
        transform: rotate(-7deg);
    }
    100% {
        transform: rotate(0deg);
    }
}