<div class="panel">
    <div class="profile">
        <button (click)="collapse.toggle()" class="profile-btn">
            <img src="assets/icons/person.svg" width="30px">
            Meu perfil
        </button>
        <div #collapse="ngbCollapse" [(ngbCollapse)]="collapses['profile']">
            <app-profile></app-profile>
        </div>
    </div>

    <div class="nav-items">
        <div *ngFor="let item of navItems" class="nav-item">
            <a 
                *ngIf="item.type == 'link'"
                (click)="activeOffcanvas.dismiss()"
                [routerLink]="item.link" 
                [ngClass]="{'filter-highlight': router.url == ('/' + item.link)}">
                {{ item.title }}
            </a>
            <ng-container *ngIf="item.type == 'menu'">
                <button
                    (click)="collapse.toggle()"
                    [ngClass]="{'filter-highlight': router.url.startsWith('/' + item.link)}">
                    {{ item.title }}
                </button>
                <div #collapse="ngbCollapse" [(ngbCollapse)]="collapses[item.title]">
                    <a
                        *ngFor="let child of item.children"
                        (click)="activeOffcanvas.dismiss()"
                        [routerLink]="item.link + '/' + child.link">
                        {{ child.title }}
                    </a>
                </div>
            </ng-container>
        </div>
    </div>
</div>