<div class="panel">
    <div class="profile">
        <button (click)="collapse.toggle()" class="profile-btn">
            <img src="assets/icons/person.svg" width="30px">
            Meu perfil
        </button>
        <div #collapse="ngbCollapse" [(ngbCollapse)]="collapses['profile']">
            <app-profile></app-profile>
        </div>
    </div>

    <div class="nav-items">
        <ng-container *ngFor="let item of navItems">
            <div
                *ngIf="item.type == 'link'"
                (click)="activeOffcanvas.dismiss()"
                [routerLink]="item.link"
                class="nav-item"
                [ngClass]="{'text-highlight': router.url == ('/' + item.link)}"
            >
                {{ item.title }}
            </div>

            <div *ngIf="item.type == 'menu'" class="nav-item d-flex flex-column">
                <div 
                    (click)="collapse.toggle()"
                    class="collapse-toggle"
                    [ngClass]="{'text-highlight': router.url.startsWith('/' + item.link)}"
                >
                    {{ item.title }}
                    <img src="assets/icons/uncollapse.svg" [ngClass]="{'active': !collapses[item.title]}">
                </div>
                <div 
                    #collapse="ngbCollapse" 
                    [(ngbCollapse)]="collapses[item.title]"
                    class="collapse-box"
                >
                    <div 
                        *ngFor="let child of item.children" 
                        (click)="activeOffcanvas.dismiss()" 
                        [routerLink]="item.link + '/' + child.link"
                        class="nav-item"
                        [ngClass]="{'text-highlight': router.url.endsWith(child.link)}"
                    >
                        {{ child.title }}
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>