@import 'src/styles/variables';

.panel {
    display: flex;
    flex-direction: column;
    gap: 50px;

    .profile {
        padding-top: 20px;

        button {
            width: 100%;
            background-color: transparent;
            color: $palette-tertiary;
            border: none;
            padding: 10px 0;
    
            img {
                transform: translateY(-2px);
            }
        }
    }
    
    .nav-items {
        display: flex;
        flex-direction: column;
        align-items: center;

        .nav-item {
            width: 90%;
            border-top: 2px solid rgba($palette-secondary, 0.3);
            padding: 25px 30px;
            color: $palette-primary;
            font-weight: 500;
            text-transform: uppercase;

            .collapse-toggle {
                display: flex;
                justify-content: space-between;
                padding-bottom: 15px;

                img {
                    width: 20px;
                    transition-duration: .2s;

                    &.active {
                        transform: rotate(180deg);
                    }
                }
            }

            .collapse-box {
                .nav-item {
                    padding: 15px 30px;
                }
            }
        }
    }
}
