@import '../../../../../styles/variables.scss';

.main-container {
  gap: 20px;

  .header {
    align-items: center;
    gap: 20px;

    h2 {
      &.media-sm {
        display: none;
      }

      br {
        display: none;
      }
    }

    span:not(.spinner-border) {
      color: $palette-highlight;
      font-style: italic;
      transition-duration: .3s;
      cursor: pointer;
      
      &:hover {
        color: $palette-tertiary;
      }
    }

    ng-select {
      width: 180px;
    }

    .actual-balance {
      transition-duration: .3s;
      
      &:hover {
        filter: brightness(0.7);
      }
    }
  }
}

.cards {
  .card {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    text-align: center;
    cursor: default;
  }

  .analytics-data {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .most-expensive {
    text-align: left;
  }
  
  .category {
    max-width: 450px;
    padding: 16px;
  }
}

@media only screen and (max-width: $laptop) {
  .header {
    br {
      display: inline !important;
    }

    ng-select {
      width: 120px !important;
    }
  }

  .cards {
    .category {
      padding: 16px 10px;

      h4 {
        font-size: 16px;
      }
    }
  }
}

@media only screen and (max-width: $tablet) {
  .header {
    flex-direction: column;
    align-items: start !important;

    h2 {
      &.media-md-lg {
        display: none;
      }

      &.media-sm {
        display: inline !important;
      }
    }
  }

  .picsum-img-wrapper {
    .cards {
      flex-direction: column;
      align-items: center;
      max-height: 300px;
      overflow-x: hidden;
      overflow-y: scroll;
      margin-bottom: 100px;

      .card {
        width: 80%;
        max-width: 400px;
      }

      &::-webkit-scrollbar{
        display: none;
      }
    }
  }
}