@import '../../../../../styles/variables.scss';

.main-container {
  gap: 20px;

  .header {
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 24px;

    h2 {
      &.media-sm {
        display: none;
      }

      br {
        display: none;
      }
    }

    span:not(.spinner-border) {
      color: $palette-highlight;
      font-style: italic;
      transition-duration: .3s;
      cursor: pointer;
      
      &:hover {
        color: $palette-tertiary;
      }
    }

    ng-select {
      min-width: 130px;
    }

    .actual-balance {
      transition-duration: .3s;
      
      &:hover {
        filter: brightness(0.7);
      }
    }
  }
}

.categories {
  justify-content: center;
}

.cards {
  .card {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    text-align: center;
    cursor: default;
  }

  .analytics-data {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .most-expensive {
    text-align: left;
  }
  
  .category {
    max-width: 450px;
    padding: 16px;
  }
}

@media only screen and (max-width: $laptop) {
  .header {
    br {
      display: inline !important;
    }

    ng-select {
      width: 120px !important;
    }
  }

  .cards {
    .category {
      padding: 16px 10px;

      h4 {
        font-size: 16px;
      }
    }
  }
}

@media only screen and (max-width: $tablet) {
  .header {
    flex-direction: column;
    align-items: start !important;
    justify-content: flex-start !important;
    gap: 10px !important;
    margin-bottom: 0 !important;
    
    h2 {
      font-size: 22px;

      &.media-md-lg {
        display: none;
      }

      &.media-sm {
        display: inline !important;
      }
    }

    .actual-balance {
      font-size: 24px;
      margin-bottom: 25px;
    }
  }

  .picsum-img-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .categories {
      justify-content: flex-start;
    }

    .cards {
      flex-direction: column;
      align-items: center;
      max-height: 180px;
      overflow-x: hidden;
      overflow-y: scroll;

      .card {
        width: 80%;
      }

      &::-webkit-scrollbar{
        display: none;
      }
    }
  }
}