@import '../../../../../styles/variables.scss';

.main-container {
  gap: 20px;

  .header {
    gap: 20px;

    span:not(.spinner-border) {
      color: $palette-2;
      font-style: italic;
      transition-duration: .3s;
      cursor: pointer;
      
      &:hover {
        color: $palette-1;
      }
    }

    ng-select {
      width: 180px;
    }

    .actual-balance {
      height: 60px;
    }
  }
}

.cards {
  > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    text-align: center;
    cursor: default;
  }

  .analytics-data {
    display: flex;
    align-items: center;
    justify-content: center;

    .svg-arrow-up {
      filter: $filter-red;
    }

    .svg-arrow-down {
      filter: $filter-green;
    }
  }

  .most-expensive {
    text-align: left;
    
    span {
      color: red;
    }
  }
  
  .category {
    > div {
      text-align: left;
    }
  }
}