.filters {
    min-width: 200px;
    width: 600px;
    margin-bottom: 20px;
}

.dashboard {
    .chart-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 10px;
    
        .chart {
            width: 100%;
        }
    }
    
    .categories-chart {
        width: 40%;
        min-width: 300px;
    }
    
    .tags-chart {
        width: 60%;
    }
    
    .expenses-chart {
        width: 100%;
    }
}