<div class="container px-4">
    <div class="filters">
        <app-filters
            [year]="actualYear$ | async"
            [showCategories]="false"
            [showTags]="false"
            [clearable]="false"
            (filters)="filteredMonths$.next($event.months)"
        ></app-filters>
    </div>

    <div class="dashboard">
        <div class="d-flex justify-content-between gap-20 mb-4">
            <div class="chart-box categories-chart card shadow">
                <div class="chart">
                    <app-categories-chart [months]="filteredMonths$ | async"></app-categories-chart>
                </div>
            </div>
            <div class="chart-box tags-chart card shadow">
                <div class="chart media-md-lg">
                    <app-tags-chart [months]="filteredMonths$ | async"></app-tags-chart>
                </div>
                <div class="media-sm">
                    <h4 class="italic text-center">Gráfico indisponível para dispositivos mobile</h4>
                </div>
            </div>
        </div>
        <div class="chart-box expenses-chart card shadow">
            <div class="chart media-md-lg">
                <app-expenses-chart [months]="filteredMonths$ | async"></app-expenses-chart>
            </div>
            <div class="media-sm">
                <h4 class="italic text-center">Gráfico indisponível para dispositivos mobile</h4>
            </div>
        </div>
    </div>
</div>
