<div>
    <div class="d-flex justify-content-center w-100 filters">
        <ng-container *ngTemplateOutlet="filter; 
            context: { $implicit: months$, title: 'Mês', model: selectedMonths$, label: 'month', condition: showMonths }"
        ></ng-container>
        <ng-container *ngTemplateOutlet="filter; 
            context: { $implicit: categories$, title: 'Categoria', model: selectedCategories$, label: 'name', condition: showCategories }"
        ></ng-container>
        <ng-container *ngTemplateOutlet="filter; 
            context: { $implicit: tags$, title: 'Tag', model: selectedTags$, label: 'name', condition: showTags }"
        ></ng-container>
    </div>
</div>

<ng-template #filter let-condition="condition" let-items let-title="title" let-model="model" let-label="label" let-route="route">
    <div *ngIf="condition">
        <label class="form-label">{{ title }}</label>
        <ng-select
            [items]="items | async"
            [ngModel]="model | async"
            (ngModelChange)="model.next($event)"
            [multiple]="true"
            [clearable]="clearable"
            [maxSelectedItems]="multiple ? undefined : 1"
            [bindLabel]="label"
            [hideSelected]="true"
            notFoundText="Nenhum registro disponível."
        ></ng-select>
    </div>
</ng-template>