<div 
  [ngbTooltip]="tooltipContent" 
  [container]="container" 
  [positionTarget]="positionTarget"
  tooltipClass="custom-tooltip" 
  class="custom-tooltip-container"
>
  <img *ngIf="icon == 'help'" src="assets/icons/help.svg" [class]="class">
  <img *ngIf="icon == 'warning'" src="assets/icons/warning.svg" [class]="class">
  <img *ngIf="icon == 'info'" src="assets/icons/info.svg" [class]="class">
  <img *ngIf="icon == 'security'" src="assets/icons/security.svg" [class]="class">
</div>

<ng-template #tooltipContent>
  <ng-content></ng-content>
</ng-template>