@import './styles/variables.scss';
@import './styles/toastr.scss';
@import './styles/button.scss';
@import './styles/input.scss';
@import './styles/ng-select.scss';
@import './styles/modal.scss';
@import './styles/table.scss';
@import './styles/tooltip.scss';

html {
    font-size: 16px;
}

body { 
    height: 100vh;
    width: 100%;
    position: relative;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: $palette-1 !important;
}

html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
  }
  

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: $palette-3;
    box-shadow: 0 2px 20px 5px $palette-4;
}

::-webkit-scrollbar-thumb:hover {
    background:  $palette-4;
}

// GENERAL MICRO STYLING
.pointer {
    cursor: pointer;
}

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

.gap-15 {
    gap: 15px;
}

.gap-20 {
    gap: 20px;
}

.resize-none {
    resize: none;
}

.italic {
    font-style: italic;
}