<div class="card shadow d-flex align-items-center w-100">
    <div class="content d-flex align-items-center justify-content-between">
        <div class="logo d-flex flex-column align-items-center">
            <h1 class="bold text-primary italic">NANC€</h1>
            <img src="assets/icons/graph.svg">
        </div>

        <div class="form d-flex flex-column align-items-center">
            <div class="d-flex flex-column gap-20 w-100">
                <input 
                    *ngIf="action == 'signup'" 
                    [(ngModel)]="user.name" 
                    required 
                    placeholder="Nome"
                    class="form-control py-2">
                <input 
                    type="email" 
                    [(ngModel)]="user.email" 
                    required 
                    placeholder="E-mail" 
                    class="form-control py-2">
                <input 
                    type="password" 
                    [(ngModel)]="user.password" 
                    required 
                    placeholder="Senha" 
                    class="form-control py-2">
            </div>

            <div class="mt-4 mb-2 w-100">
                <button #enterBtn *ngIf="action == 'login'" (click)="enter('login')" [disabled]="!user.email || !user.password" class="px-3 py-2">
                    Entrar
                </button>
                <button #enterBtn *ngIf="action == 'signup'" (click)="enter('signup')" [disabled]="!user.name || !user.email || !user.password" class="px-3 py-2">
                    Registrar
                </button>
            </div>

            <small *ngIf="action == 'login'" (click)="action = 'signup'">
                Ainda não possui uma conta? <span>Criar conta...</span>
            </small>
            <small *ngIf="action == 'signup'" (click)="action = 'login'">
                Já possuo uma conta. <span>Entrar na minha conta...</span>
            </small>
        </div>
    </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path d="M0,0L48,42.7C96,85,192,171,288,202.7C384,235,480,213,576,197.3C672,181,768,171,864,165.3C960,160,1056,160,1152,149.3C1248,139,1344,117,1392,106.7L1440,96L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
</svg>