<div class="modal-container">
  <div class="modal-header">
    <h3>{{ action | titlecase }} ano</h3>
    <span (click)="activeModal.close(false)">&times;</span>
  </div>
  
  <div class="modal-body">
    <form #formModel="ngForm">      
      <div class="col mt-4">
        <div class="row mb-4">
          <label for="year" class="mb-1 required">Ano</label>
          <input
            id="year"
            type="number"
            [(ngModel)]="form.year"
            name="year"
            required
            class="form-control"
            [ngClass]="{'is-invalid': submitted && f['year'].errors}">
          <div *ngIf="submitted && f['year'].errors && f['year'].errors['required']" class="invalid-feedback">
            * Insira o ano
          </div>
        </div>
      </div>
    </form>
  </div>
  
  <div class="modal-footer justify-content-end">
    <button (click)="validateForm()">
      {{ action | titlecase }}
    </button>
  </div>
</div>