<div class="container px-4">  
  <div class="header d-flex justify-content-between align-items-center">
    <div class="d-flex gap-15">
      <h2 class="m-0">Tags de gastos</h2>
      <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
    </div>
    <img 
      src="assets/icons/plus.svg"
      (click)="addTag()"
      class="action"
      ngbTooltip="Adicionar tag">
  </div>
  
  <div class="table-box mt-3">
    <table class="table table-hover">
      <thead>
        <th>Tag</th>
        <th>Cor</th>
        <th></th>
      </thead>
      <tbody *ngIf="!tags.length">
        <tr>
          <td colspan="3">Nenhum registro.</td>
        </tr>
      </tbody>
      <tbody>
        <tr *ngFor="let tag of tags" class="table-active">
          <td>{{ tag.name }}</td>
          <td>
            <div class="color-label">
              <div [style.background-color]="tag.color"></div>
            </div>
          </td>
          <td class="actions">
            <div class="d-flex justify-content-evenly">
              <img 
                src="assets/icons/pencil.svg"
                (click)="editTag(tag)"
                ngbTooltip="Editar">
              <img 
                src="assets/icons/trash.svg"
                (click)="deleteTag(tag)"
                ngbTooltip="Excluir">
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
