@import '../../../styles/variables.scss';

.saving {
  min-width: 300px;
  max-width: 800px;

  button.btn-success,
  button.btn-danger {
    img {
      filter: $filter-white;
    }
  }
  
  .footer {
    border-top: 1px solid $palette-2;
  }
}

.color-palette-primary {
  color: $palette-4;
}