<div class="container px-4">
  <div class="header d-flex justify-content-between align-items-center">
    <div class="d-flex gap-15">
      <h2 class="m-0">Minhas Caixinhas</h2>
      <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
    </div>
    <img 
      src="../../../../../assets/icons/plus.svg"
      (click)="addSaving()"
      class="action"
      ngbTooltip="Adicionar caixinha">
  </div>
  
  <div class="content d-flex flex-column gap-20">
    <div>
      <h5>
        Saldo atual: 
        <span [ngClass]="{'text-red': actualBalance <= 0}">R${{ actualBalance | number:'.2-2':'pt' }}</span>
      </h5>
    </div>
    
    <div *ngIf="!loading && !savings.length" class="saving card shadow px-3 py-4 w-75">
      Você ainda não possui nenhuma caixinha.
    </div>
    
    <div *ngFor="let saving of savings" class="saving card shadow px-3 py-4 w-100" [class]="saving.status">
      <div class="header d-flex justify-content-between">
        <div class="italic mb-2">
          <h3 class="mb-0">{{ saving.title }}</h3>
          <h3>R${{ saving.amount | number:'.2-2':'pt' }}</h3>
        </div>
        <div>
          <h5 *ngIf="saving.status == 'active'">
            Prazo: {{ saving?.dueDate ? ( (saving.dueDate | date:'dd/MM/YY') + ' (' + (saving.dueDate | timeLeft) + ')' ) : 'Indefinido' }}
          </h5>
        </div>
      </div>
      
      <div class="px-4 py-2 mt-2 mb-3">
        <p>{{ saving.description }}</p>
      </div>
      
      <div>
        <ngb-progressbar 
          *ngIf="saving.status == 'active'"
          [value]="100 * actualBalance / saving.amount" 
          type="warning" 
          [striped]="true" 
          [animated]="true"
          [max]="100"
          [showValue]="true"
          height="25px"
          [ngbTooltip]="((100 * actualBalance / saving.amount) | round:2) + '%'">
        </ngb-progressbar>
        <ngb-progressbar 
          *ngIf="saving.status == 'completed'"
          [value]="100" 
          type="success" 
          [striped]="true" 
          height="25px">
          <i>Completo!</i>
        </ngb-progressbar>
        <ngb-progressbar 
          *ngIf="saving.status == 'canceled'"
          [value]="100" 
          type="danger" 
          [striped]="true" 
          height="25px">
          <i>Suspenso</i>
        </ngb-progressbar>
      </div>
      
      <div class="footer d-flex pr-4 pt-4">
        <div class="media-md-lg">
          <button *ngIf="saving.status == 'active'" (click)="updateStatus(saving.id, 'completed')" class="btn set-completed mx-2">
            <img src="../../../../../assets/icons/accomplish.svg" width="30px">
            Completar
          </button>
          <button *ngIf="saving.status == 'active'" (click)="updateStatus(saving.id, 'canceled')" class="btn set-canceled">
            <img src="../../../../../assets/icons/suspend.svg" width="30px">
            Suspender
          </button>
          <button *ngIf="saving.status != 'active'" (click)="updateStatus(saving.id, 'active')" class="btn set-active">
            <img src="../../../../../assets/icons/power.svg" width="30px">
            Reativar
          </button>
        </div>
        <div class="media-sm">
            <img 
              *ngIf="saving.status == 'active'" 
              src="../../../../../assets/icons/accomplish.svg" 
              (click)="updateStatus(saving.id, 'completed')"
              class="filter-green mx-3">
            <img 
              *ngIf="saving.status == 'active'" 
              src="../../../../../assets/icons/suspend.svg" 
              (click)="updateStatus(saving.id, 'canceled')"
              class="filter-red">
            <img 
              *ngIf="saving.status != 'active'" 
              src="../../../../../assets/icons/power.svg" 
              (click)="updateStatus(saving.id, 'active')"
              class="filter-highlight">
        </div>
        <div class="d-flex gap-15">
          <img 
            src="../../../../../assets/icons/pencil.svg"
            (click)="editSaving(saving)"
            class="action"
            ngbTooltip="Editar">
          <img 
            src="../../../../../assets/icons/trash.svg"
            (click)="deleteSaving(saving)"
            class="action"
            ngbTooltip="Excluir">
        </div>
      </div>
    </div>
  </div>
</div>