@import '../../../styles/variables.scss';

.header {
  img {
    width: 50px;
  }
}

.content {
  padding: auto 24px;

  .saving {
    max-width: 1000px;
  
    .footer {
      justify-content: end;
      gap: 20px;
      border-top: 1px solid transparent;
      margin-top: 30px;

      .media-md-lg {
        display: flex;
        gap: 15px;
      }
  
      .media-sm {
        display: none;
        gap: 15px;
      }
    }
    
    &.active {
      border-color: $palette-highlight;
  
      .footer {
        border-color: $palette-highlight;
      }
    }
    
    &.completed {
      border-color: $green;
  
      .footer {
        border-color: $green;
      }
    }
  
    &.canceled {
      border: 2px dashed $red;
  
      .footer {
        border-color: $red;
      }
    }
  
    button {
      background-color: $palette-primary;
      font-weight: bold;
      transition: .3s;
  
      &.set-active {
        border-color: $palette-highlight;
        color: $palette-highlight;
  
        img {
          filter: $filter-highlight;
        }
      }
  
      &.set-completed {
        border-color: $green;
        color: $green;
  
        img {
          filter: $filter-green;
        }
      }
  
      &.set-canceled {
        border-style: dashed;
        border-color: $red;
        color: $red;
  
        img {
          filter: $filter-red;
        }
      }
  
      &:hover {
        border-color: $palette-tertiary;
        color: $palette-tertiary;
  
        img {
          filter: $filter-tertiary;
        }
      }
    }
  }
}

@media only screen and (max-width: $tablet) {
  .header {
    h2 {
      font-size: 22px;
    }

    img {
      width: 30px;
      transform: translateY(-5px);
    }
  }

  .content {
    padding: 20px 0 0;

    h5 {
      font-size: 18px;
    }

    .header {
      flex-direction: column;
      font-size: 20px;
    }
  
    .footer {
      justify-content: space-between !important;
      margin-top: 16px;

      .media-md-lg {
        display: none !important;
      }
  
      .media-sm {
        display: block !important;
      }
  
      img {
        width: 30px;
      }
    }
  }
}