<div class="modal-container">
  <div class="modal-header">
    <h3>Duplicar mês</h3>
    <span (click)="activeModal.close(false)">&times;</span>
  </div>
  
  <div class="modal-body">    
    <form #formModel="ngForm">      
      <div class="col">
        <div class="row mb-4">
          <input 
            id="duplicateMonthlyIncomes"
            name="duplicateMonthlyIncomes"
            type="checkbox"
            [(ngModel)]="form.duplicateMonthlyIncomes">
          <label for="duplicateMonthlyIncomes" class="form-label">Entradas</label>
        </div>
        
        <div class="row mb-4">
          <input 
            id="duplicateMonthlyExpenses"
            name="duplicateMonthlyExpenses"
            type="checkbox"
            [(ngModel)]="form.duplicateMonthlyExpenses">
          <label for="duplicateMonthlyExpenses" class="form-label">Mensalidades</label>
        </div>
        
        <div class="row mb-4">
          <input 
            id="duplicateCategories"
            name="duplicateCategories"
            type="checkbox"
            [(ngModel)]="form.duplicateCategories">
          <label for="duplicateCategories" class="form-label">Categorias</label>
        </div>
      </div>
    </form>
  </div>
  
  <div class="modal-footer justify-content-end">
    <button (click)="submit()" [disabled]="loading">
      <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
      Duplicar
    </button>
  </div>
</div>