@import '../../../../../styles/variables.scss';

$navbar-height: 70px;

nav {
    position: fixed;
    background-color: $palette-tertiary;
    height: $navbar-height;
    text-transform: uppercase;
    z-index: 1000;

    .logo {
        min-width: 48px;
        margin-left: 20px !important;
        
        img {
            transition-duration: .3s;
        }
        
        &:hover {
            img {
                filter: $filter-highlight;
            }
        }
    }

    .nav-items {
        width: 100%;
        padding: 0 20%;
        list-style: none;
        font-size: 16px;

        a {
            text-decoration: none;
            color: $palette-primary;
            transition-duration: .3s;

            &:hover {
                color: $palette-highlight;

                &::after {
                    transform: scale(1);
                }
            }

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 4px;
                background-color: $palette-highlight;
                transform: scale(0);
                transform-origin: center;
                transition-duration: .3s;
            }
        }
        
        button {
            color: $palette-primary;
            transition-duration: .3s;
            border: none;
            font-size: 16px;
            text-transform: uppercase;

            &:hover {
                color: $palette-highlight;
            }
        }
    }

    .user-box {
        min-width: 250px;
        display: flex;
        height: 100%;
        
        .logout,
        .profile {
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            transition-duration: .2s;
            transition-timing-function: ease-in-out;
            cursor: pointer;
        }
        
        .logout {
            width: 20%;
            background-color: transparent;
            border-left: 2px solid $palette-highlight;
            
            > img {
                filter: $filter-highlight;
            }
            
            &:hover {
                background-color: $palette-highlight;
                
                > img {
                    filter: invert(1);
                }
            }
        }
        
        .profile {
            width: 80%;
            font-size: 20px;
            font-weight: 400;
            background-color: $palette-highlight;

            &:hover {
                background-color: transparent;

                button {
                    color: $palette-highlight;
                }
            }
            
            button {
                border: none;
                background-color: transparent;
                font-weight: 500;
                color: $palette-primary;
            }
        }
    }
}