<nav class="shadow w-100 d-flex align-items-center justify-content-between">
    <div class="logo">
        <a routerLink="">
            <img src="../../../assets/icons/graph.svg">
        </a>
    </div>

    <ul class="nav-items d-flex align-items-center justify-content-around m-0">
        <li *ngFor="let item of navItems" class="mr-4">
            <a *ngIf="item.type == 'link'" [routerLink]="item.link" class="py-3 px-4">
                {{ item.title }}
            </a>
            <div 
                *ngIf="item.type == 'menu'" 
                #ddManagement="ngbDropdown" 
                ngbDropdown
                class="d-inline-block">
                <button 
                    ngbDropdownToggle
                    (mouseenter)="ddManagement.open()"
                    (mouseleave)="ddManagement.close()"
                    class="btn py-3 px-4">
                    {{ item.title }}
                </button>
                <div 
                    ngbDropdownMenu 
                    (mouseenter)="ddManagement.open()" 
                    (mouseleave)="ddManagement.close()">
                    <a 
                        ngbDropdownItem 
                        *ngFor="let child of item.children" 
                        [routerLink]="child.link"
                    >
                        {{ child.title }}
                    </a>
                </div>
            </div>
        </li>
    </ul>
    
    <div class="user-box">
        <div class="logout" (click)="logout()">
            <img src="../../../../../assets/icons/leave.svg" width="30px">
        </div>
        <div #ddProfile="ngbDropdown" ngbDropdown class="profile d-flex">
            <button 
                ngbDropdownToggle 
                (mouseenter)="ddProfile.open()"
                (mouseleave)="ddProfile.close()"
                class="btn w-100 h-100">
                Olá, {{ userName }}!
            </button>
            <div 
                ngbDropdownMenu
                (mouseenter)="ddProfile.open()"
                (mouseleave)="ddProfile.close()"
                >
                <app-profile (profileUpdated)="updateLocalUser($event)"></app-profile>
            </div>
        </div>
    </div>
</nav>