<nav class="shadow w-100 d-flex align-items-center justify-content-between">
    <div class="logo">
        <a routerLink="" class="media-md-lg">
            <img src="assets/icons/graph.svg" [ngClass]="{'filter-highlight': router.url == '/'}">
        </a>
        <a (click)="openOffcanvas()" class="media-sm">
            <img src="assets/icons/graph.svg">
        </a>
    </div>

    <ul class="nav-items media-md-lg d-flex align-items-center justify-content-between m-0">
        <li *ngFor="let item of navItems" [class]="item.link">
            <a 
                *ngIf="item.type == 'link'" 
                [routerLink]="item.link" 
                class="py-3 px-4" 
                [ngClass]="{'filter-highlight': router.url == ('/' + item.link)}">
                {{ item.title }}
            </a>
            <div 
                *ngIf="item.type == 'menu'" 
                #ddManagement="ngbDropdown" 
                ngbDropdown
                class="d-inline-block">
                <button 
                    ngbDropdownToggle
                    (mouseenter)="ddManagement.open()"
                    (mouseleave)="ddManagement.close()"
                    class="btn py-3 px-4"
                    [ngClass]="{'filter-highlight': router.url.startsWith('/' + item.link)}">
                    {{ item.title }}
                </button>
                <div 
                    ngbDropdownMenu 
                    (mouseenter)="ddManagement.open()" 
                    (mouseleave)="ddManagement.close()">
                    <a 
                        ngbDropdownItem 
                        *ngFor="let child of item.children" 
                        [routerLink]="item.link + '/' + child.link"
                    >
                        {{ child.title }}
                    </a>
                </div>
            </div>
        </li>
    </ul>
    
    <div class="user-box d-flex justify-content-end">
        <div class="logout" (click)="sessionService.logout()">
            <img src="assets/icons/leave.svg" width="30px">
        </div>
        <div #ddProfile="ngbDropdown" ngbDropdown class="profile d-flex">
            <button 
                ngbDropdownToggle 
                (mouseenter)="ddProfile.open()"
                (mouseleave)="ddProfile.close()"
                class="btn w-100 h-100">
                <span>Olá, {{ userName }}!</span>
            </button>
            <div 
                ngbDropdownMenu
                (mouseenter)="ddProfile.open()"
                (mouseleave)="ddProfile.close()"
                >
                <app-profile (profileUpdated)="userName = $event.name"></app-profile>
            </div>
        </div>
    </div>
</nav>