<nav class="shadow w-100 d-flex align-items-center justify-content-between px-4">
    <div class="logo">
        <a routerLink="">
            <img src="../../../assets/icons/graph.svg">
        </a>
    </div>

    <ul class="d-flex gap-20 align-items-center justify-content-center p-0">
        <li *ngFor="let item of navItems" class="mr-4">
            <a *ngIf="item.type == 'link'" [routerLink]="item.link">
                {{ item.title }}
            </a>
            <div *ngIf="item.type == 'menu'" ngbDropdown class="d-inline-block">
                <button 
                    ngbDropdownToggle
                    [id]="'dropdown' + item.title"
                    type="button" 
                    class="btn btn-outline-primary">
                    {{ item.title }}
                </button>
                <div ngbDropdownMenu>
                    <a 
                        ngbDropdownItem 
                        *ngFor="let child of item.children" 
                        [routerLink]="child.link">
                        {{ child.title }}
                    </a>
                </div>
            </div>
        </li>
    </ul>

    <div class="user">
        <button><i>Olá, {{ user }}!</i></button>
    </div>
</nav>