<div class="modal-container">
  <div class="modal-header">
    <h3>{{ action | titlecase }} registro de gasto</h3>
    <span (click)="activeModal.close(false)">&times;</span>
  </div>
  
  <div class="modal-body">
    <div *ngIf="action == 'adicionar'">
      <app-filters 
        [year]="year" 
        [multiple]="false"
        [clearable]="false"
        (filters)="form.group = $event.groups[0]?.id || undefined"
      ></app-filters>
    </div>
    
    <form #formModel="ngForm">
      <div>
        <input 
         [(ngModel)]="form.group"
          name="group"
          required
          hidden
          class="form-control"
          [ngClass]="{'is-invalid': submitted && formModel.form.controls['group'].errors}">
        <div *ngIf="submitted && formModel.form.controls['group'].errors && formModel.form.controls['group'].errors['required']" class="invalid-feedback">
          * Grupo é obrigatório
        </div>
      </div>
      
      <div class="col mt-4">
        <div class="row mb-4">
          <label for="value" class="mb-1 required">Valor</label>
          <input
            id="value"
            type="text"
            [(ngModel)]="form.value"
            name="value"
            required
            mask="separator.2"
            prefix="R$ "
            thousandSeparator="."
            class="form-control"
            [ngClass]="{'is-invalid': submitted && formModel.form.controls['value'].errors}">
          <div *ngIf="submitted && formModel.form.controls['value'].errors && formModel.form.controls['value'].errors['required']" class="invalid-feedback">
            * Valor é obrigatório
          </div>
        </div>
        
        <div class="row mb-4">
          <label for="description" class="mb-1">Descrição</label>
          <textarea 
            id="description"
            type="text" 
            [(ngModel)]="form.description"
            name="description"
            rows="2"
            class="form-control">
          </textarea>
        </div>
        
        <div class="row">
          <label for="date" class="mb-1 required">Data</label>
          <input 
            id="date"
            type="date" 
            [(ngModel)]="form.date"
            name="date"
            required
            class="form-control"
            [ngClass]="{'is-invalid': submitted && formModel.form.controls['date'].errors}">
            <div *ngIf="submitted && formModel.form.controls['date'].errors && formModel.form.controls['date'].errors['required']" class="invalid-feedback">
              * Data é obrigatória
            </div>
        </div>
      </div>
    </form>
  </div>
  
  <div class="modal-footer justify-content-end">
    <button (click)="validateForm()">
      {{ action | titlecase }}
    </button>
  </div>
</div>