<div class="main-container">  
  <app-filters (filters)="getFilters($event)"></app-filters>
  
  <!-- <mat-tab-group mat-align-tabs="start" animationDuration="500ms" dynamicHeight>
    <mat-tab *ngFor="let year of years">
        <ng-template mat-tab-label>
          <span>{{ year.year }}</span>
        </ng-template>
        <mat-tab-group mat-align-tabs="start" animationDuration="300ms" dynamicHeight>
            <mat-tab *ngFor="let month of year.months">
                <ng-template mat-tab-label>
                  <span [appMonthName]="month.month"></span>
                </ng-template>
                <div class="container">
                    <div class="header">
                        <div class="form-group search-box w-100 d-flex align-items-center justify-content-start m-3">
                            <img src="../../../assets/icons/magnifier.svg" class="p-1">
                            <input
                              (keyup)="updateList(year.year, month.month, $event.target)"
                              class="form-control"
                              placeholder="Filtrar..."
                              class="search-field w-50 ml-5"
                            />
                        </div>
                    </div>
                    <div class="table">
                        <table class="table table-striped table-responsive">
                            <thead>
                              <tr>
                                <th>Valor</th>
                                <th>Descrição</th>
                                <th>Data</th>
                                <th class="align-items-center">Ações</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let expense of filteredList[year.year][month.month]">
                                <td>{{ expense.value }}</td>
                                <td>{{ expense.description }}</td>
                                <td>{{ expense.date | date: 'fullDate':'':'pt-BR' }}</td>
                                <td class="actions">
                                    <img src="../../../assets/icons/pencil.svg" (click)="openModal('expense', expense)">
                                    <img src="../../../assets/icons/trash.svg" (click)="openModal('expense', expense)">
                                </td>
                             </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </mat-tab>
  
            <mat-tab disabled>
                <ng-template mat-tab-label>
                  <button
                    type="text"
                    class="btn btn-primary mt-3 btn-add-scenario"
                    (click)="openModal('month')"
                  >
                    <img src="../../../assets/icons/plus.svg" class="svg-plus">
                  </button>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </mat-tab>
  
    <mat-tab disabled>
        <ng-template mat-tab-label>
          <button
            type="text"
            class="btn btn-primary mt-3 btn-add-scenario"
            (click)="openModal('year')"
          >
            <img src="../../../assets/icons/plus.svg" class="svg-plus">
          </button>
        </ng-template>
    </mat-tab>
  </mat-tab-group> -->
</div>