@import './components/navbar/navbar.component.scss';
@import './components/footer/footer.component.scss';
@import 'src/styles/variables';

#container {
    padding-top: 110px;
    padding-bottom: $footer-height + 50px;
}

.top-svg {
    position: absolute;
    z-index: -100;
    top: $navbar-height + 240px;

    path {
        fill: $palette-3;
        fill-opacity: 1;
    }
}

.bottom-svg {
    position: absolute;
    z-index: -100;
    bottom: $footer-height;

    path {
        fill: $palette-3;
        fill-opacity: 1;
    }
}